
.logo {
    margin-top: 20%;
    margin-bottom: 10%;
    max-width: 160px;
    height: auto;
}

.form {
    padding: 12%;
}

.form input{
    background-color: #f1f5f4;
}
    .entrar{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: #FF691E;
    }

.error-login{
    color: red;
}

.fast-food {
    text-align: center;
    margin-top: 30%;
    margin-bottom: 8%;
}