<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Noto+Sans&family=Ysabeau:wght@300&display=swap" rel="stylesheet">

<img src="assets/burger.png" class="mx-auto d-block logo" alt="burgerQueen">

<div class="container">
    <h1 class="burger">BURGER</h1>
    <h1 class="queen">QUEEN</h1>
</div>

<form class="form">
    <div class="mb-3">
      <label for="InputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="InputPassword">
    </div>
    <button type="submit" class="btn btn-secundary entrar">Entrar</button>
</form>

<h5 class="fast-food">Um fast food 24H</h5>
